<div class="card h-100 shadow-sm">
    <div class="image position-relative" style="cursor: pointer;">
        <img src="{{product.pictureUrl}}" alt="{{product.name}}" class="img-fluid">
        <div class="d-flex align-items-center justify-content-evenly hover-overlay">
            <button (click)="addItemToBasket()" type="button" class="btn btn-primary justify-content-center">
                <i class="fa fa-shopping-cart mr-5"></i>
            </button>
            <button routerLink="/shop/{{product.id}}" type="button" class="btn btn-primary mx4">Details</button>
        </div>
    </div>
   
    <div class="card-body d-flex flex-column">
        <a>
            <h6 routerLink="/shop/{{product.id}}" class="text-uppercase"> {{product.name}} </h6>
        </a>
        <span class="mb-2">{{product.price | currency}}</span>        
    </div>
</div>
